/*general Styles*/
.body{
    background-image: url(images/Image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background: color #222;;
   color: #fff;
    font-family:Arial, sans-serif;
   margin: 0;
   padding: 0;

}
.a{
    color: #fff;
    text-decoration: none;

}
/*header styles*/
.header{
    background: color #111;;
    padding: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-title{
    font-size:24;
    
}

.navbar-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar-list li a{
    font-size: 18px;
}
.burger{
    display: none;

}
/*footer styles*/
.footer{
    background: color #111;
    text-align: center;
    padding: 20px;
}
.social-media-icons ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}